# Basic Settings
CORS_ORIGINS=*

# Database Settings
POSTGRES_USER=user_name
POSTGRES_PASSWORD=user_password
POSTGRES_ADDRESS=db_address
POSTGRES_PORT=port_number
POSTGRES_DB=db_name

DATABASE_URL=postgresql+asyncpg://user_name:user_password@db_address:port_number/db_name
# Redis & Celery
REDIS_URL=redid_url
CELERY_BROKER_URL=celery_broker_url
CELERY_RESULT_BACKEND=celery_result_backend_url

# JWT & Security
SECRET_KEY=secret_key_value
ACCESS_TOKEN_EXPIRE_MINUTES=access_token_expiration_time_in_minutes